/BackEndCPP/*.sdf
/BackEndCPP/ipch/
/BackEndCPP/Debug/
/BackEndCPP/server/Debug/
/BackEndCPP/Release/
/BackEndCPP/server/Release/
/BackEndCPP_Calibration/
BackEndCPP/server/openSmileLib_Release.dll
*.class
*.suo
*.wav
*.exe
*.log
*.jar
*.xmp
*.dex
*.apk
*.ap_
*.csv
